:root {
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
  --link-color: #868484;
  --thirdcolor: #4e4feb;
  --highlight: #03e9f4;
}

.navbar {
  position: sticky;
  z-index: 8;
  top: 1%;
  margin: 2% 3%;
  width: 96%;
}

.container {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.logo {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  max-width: 150px;
}

.links {
  width: 60%;
}

.links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.container .links a {
  margin-right: 10px;
  text-decoration: none;
  transition: 0.3s;
  color: var(--bg-color);
  font-size: 20px;
}

.container a:hover {
  color: var(--main-color);
}

.login {
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}

.login a button {
  font-size: 12px;
  border-radius: 15px;
  width: 80px;
  height: 35px;
  border: transparent solid 2px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--bg-color);
  transition-duration: 0.3s;
  margin-left: 10px;
  /* -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%; */
}

.login a:nth-child(1) button:hover {
  background-color: var(--main-color);
  box-shadow:
    0 0 10px 0px var(--main-color),
    0 0 20px 0 var(--main-color),
    0 0 40px 0 var(--main-color);
  color: var(--bg-color);
}

.login a:nth-child(2) button:hover {
  background-color: var(--thirdcolor);
  box-shadow:
    0 0 10px 0px var(--thirdcolor),
    0 0 20px 0 var(--thirdcolor),
    0 0 40px 0 var(--thirdcolor);
  color: var(--bg-color);
}

@media (max-width: 1080px) {
  .home-text {
    padding: 0 100px;
  }
}

@media (max-width: 991px) {
  .container .links a {
    font-size: 12px;
  }

  .container>a {
    width: 15%;
  }

  .login a button {
    width: 50px;
    font-size: 10px;
  }
}

@media (max-width: 472px) {
  .container .links a {
    font-size: 7px;
  }

  .container>a {
    width: 8%;
  }

  .login {
    width: 40%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 1%;
  }
}